<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dao.LogInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.demo.pojo.LogInfo">
        <id column="id" property="id"/>
        <result column="operator" property="operator"/>
        <result column="operate_type" property="operateType"/>
        <result column="operate_date" property="operateDate"/>
        <result column="operate_result" property="operateResult"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, operator, operate_type, operate_date, operate_result, remark
    </sql>

</mapper>
